* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html, 
body {
    height: 100%;
}

.container {
    margin: 0 auto;
    background-image: url("img/bg2.jpg");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.header {
    height: 150px;
    text-align: center;
    padding-top: 0px;
}

.header__logo {
    padding-top: 20px;
}

.main {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
    padding: 10px;
}

.main__index {
    text-align: center;
}

.main__instr {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 20px;
}

li {
    list-style-type: none;
}

li>h1 {
    text-align: center;
}

.img {
    width: 120px;
    margin: 40px;
}

.img_back {
    width: 40px;
}

.scale {
    transition: 1s; /* Время эффекта */
   }
   .scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }

.footer {
    text-align: center;
    height: 80px;
	margin-top: -80px;
}

@media (max-width: 476px) {
    
}
